.blog-posts {
  font-family: "Arial", sans-serif;
  color: lightblue;
  }

.about-me {
  font-style: italic;
  font-size: 20px;
}

.blue {
  color: blue;
}

img {
  width: 100%;
}

.margin {
  margin-top: 30px;
  margin-bottom: 30px;
}
